---
import Layout from "@/layouts/Base.astro"
import Posts from "@/layouts/Posts.astro"

import { getCollection } from "astro:content"

export async function getStaticPaths({ paginate }) {
	const allPosts = await getCollection("news")
	const cronicas = allPosts.filter((a) => a.data.categories.map((categoria: string) => categoria).includes('Cronica'))
	const formattedPosts = cronicas.sort(
		(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
	)
	return paginate(formattedPosts, {
		pageSize: 6,
	});
}
const { page } = Astro.props
---

<Layout
	description="Últimas crónicas en la Web Oficial del programa Alineación Indebida."
	title="Últimas crónicas - Alineación indebida"
>
	<h1 class="mb-8 text-2xl font-bold md:text-3xl">Crónicas</h1>
	<Posts posts={page['data']}/>
</Layout>
