---
import Layout from "@/layouts/Layout.astro"
import Posts from "@/components/PostGrid.astro"
import { getCronicas } from "@/utils/getAllTags";

const posts = await getCronicas();
---

<Layout
	description="Últimas crónicas en la Web Oficial del programa Alineación Indebida."
	title="Últimas crónicas - Alineación indebida"
>
	<h1 class="mb-8 text-2xl font-bold md:text-3xl">Nuestras crónicas</h1>
	<Posts posts={posts}/>
</Layout>
