---
import Layout from "@/layouts/Base.astro"
import Posts from "@/components/Posts.astro"
import { getTaxonomy, getSinglePage, taxonomyFilter } from "@/utils/getAllTags";
import { deslugify } from "@/utils/slug";

export async function getStaticPaths() {
  const categorias = await getTaxonomy("noticias", "categorias");

  return categorias.map((categoria:any) => {
    return {
      params: { categoria: categoria['slug'] },
    };
  });
}

const { categoria } = Astro.params;

const posts = await getSinglePage("noticias");
const filterByCategory = taxonomyFilter(posts, "categorias", categoria);
---

<Layout
	description="Últimas noticias en la Web Oficial del programa Alineación Indebida."
	title="Últimas noticias - Alineación indebida"
>
	<h1 class="mb-8 text-2xl font-bold md:text-3xl">Categoria: {deslugify(categoria)}</h1>
	<Posts posts={filterByCategory}/>
</Layout>
