---
import Layout from "@/layouts/Base.astro"
import { getTaxonomy } from "@/utils/getAllTags"

const allCategorias = await getTaxonomy("noticias", "categorias")
const uniqueCategorias = [...new Set(allCategorias.map((item) => item.slug))].map((slug) =>
	allCategorias.find((cat) => cat.slug === slug)
)
---

<Layout
	description="Últimas crónicas en la Web Oficial del programa Alineación Indebida."
	title="Últimas crónicas - Alineación indebida"
>
	<h1 class="mb-8 text-2xl font-bold md:text-3xl">Categorias:</h1>
	<ul class="flex flex-wrap gap-3 text-zinc-500 dark:text-zinc-400"></ul>
	{
		uniqueCategorias.map((category) => (
			<li class="mr-4 flex items-center justify-between">
				<a
					class="text-lg capitalize text-zinc-500 hover:text-zinc-800 dark:text-zinc-400"
					href={`/categorias/${category.slug}`}
					title={`Ver las noticias de ${category.name}`}
				>
					{category.name}
				</a>
			</li>
		))
	}
</Layout>
