---
import Pagination from "@/components/Pagination.astro"
import Video from "@/components/Video.astro"
import { videos } from "@/data/videos"
import Layout from "@/layouts/Layout.astro"

export async function getStaticPaths({ paginate }: any) {
	const formattedPosts = videos
	videos.sort((a, b) => b.id - a.id)
	return paginate(formattedPosts, {
		pageSize: 6,
	})
}
const { page } = Astro.props
---

<Layout title="Últimos vídeos - Alineación indebida" description="Nuestros últimos vídeos publicados en youtube del programa Alineación Indebida.">
	<h1 class="mb-8 text-2xl font-bold md:text-3xl">Últimos vídeos</h1>
	<Video videos={page["data"]} />
	<Pagination
		length={page["lastPage"]}
		currentUrl={page["url"]["current"]}
		currentPage={page["currentPage"]}
		firstUrl="/videos/"
		prevUrl={page["url"]["prev"]}
		nextUrl={page["url"]["next"]}
		lastUrl={`/videos/${page["lastPage"]}`}
	/>
</Layout>
