---
import Layout from "@/layouts/Layout.astro"
import { plantillas } from "@/data/plantillas"

var plantillasList = plantillas.sort((a, b) => (b.id > a.id ? -1 : 1))
---

<Layout
	title="Plantillas 2024/24 - Alineación indebida"
	description="El mejor repaso sobre las plantillas de la proxima temporada y el mercado de fichajes de primera federacion."
>
	<h1 class="mb-8 text-2xl font-bold md:text-3xl">Plantillas 2024/24</h1>

	{
		plantillasList?.map((plantilla) => (
			<div>
				<a href={`/plantillas/${plantilla.id}/`}>{plantilla.nombre}</a> 
			</div>
		))
	}

</Layout>

