---
import { plantillas } from "@/data/plantillas"
import Layout from "@/layouts/Layout.astro"

const plantillasList = plantillas.sort((a, b) => (b.id > a.id ? -1 : 1))
---

<Layout
	title="Plantillas 2024/24 - Alineación indebida"
	description="El mejor repaso sobre las plantillas de la proxima temporada y el mercado de fichajes de primera federacion."
>
	<h1 class="mb-8 text-2xl font-bold md:text-3xl">Plantillas 2024/24</h1>

	<div class="mt-4 grid select-none grid-cols-1 gap-8 md:grid-cols-3">
		{
			plantillasList?.map(equipo => (
				<article class="flex w-full flex-col items-center">
					<img src={equipo.escudo} alt="Escudo" width="100px" />
					<div class="relative w-full content-center">
						<h2 class="mt-3 text-base font-semibold leading-6 text-white hover:text-accent text-center">
							<a href={`/plantillas/${equipo.id}/`}>{equipo.nombre}</a>
						</h2>
					</div>
				</article>
			))
		}
	</div>

</Layout>
