<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
		<title>Panel de editor - Alineación indebida</title>
	</head>
	<body>
		<script src="https://unpkg.com/decap-cms@^3.1.8/dist/decap-cms.js"></script>
		<link href="/admin/dark.css" rel="stylesheet" />
	</body>
</html>