<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
		<link rel="dns-prefetch" href="https://unpkg.com" />
		<title>Panel de editor - Alineación indebida</title>
	</head>
	<body>
		<script is:inline src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js" type="module"></script>
	</body>
</html>
