---
import Layout from "@/layouts/Layout.astro"

import KonamiCode from "@/components/KonamiCode.astro"

import Header from "@/sections/Header.astro"
import Landing from "@/sections/Landing.astro"
import Footer from "@/sections/Footer.astro"
---

<Layout
	description="Web Oficial del programa Alineación Indebida. El programa de Unionistas de Salamanca y todo el deporte salmantino"
	title="Alineación indebida - El programa del deporte salmantino"
>
	<Header />
	<main>
		<Landing />
	</main>
	<Footer />
	<KonamiCode />
</Layout>
