---
import Layout from "@/layouts/Layout.astro"

---

<Layout
	title="Politica de privacidad - Alineaci贸n Indebida - El programa del deporte salmantino"
	description="La Web Oficial del programa Alineaci贸n Indebida. La mejor informaci贸n de Unionistas de Salamanca y todo el deporte salmantino"
>
	<section class="overflow-x-hidden">
		<div class="relative">
			<div class="flex flex-col items-center">
				<h1 class="mb-4 mt-6 text-center text-5xl font-bold">
					<span class="text-gradient">Alineaci贸n indebida</span>
				</h1>
				<h2 class="mb-4 text-center text-2xl font-bold">Politica de privacidad</h2>
			</div>
		</div>
		<div class="mt-4 text-justify">
			<p>Loading...</p>
		</div>
	</section>
</Layout>

<style>
	.text-gradient {
		background-image: var(--color-accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
