---
import Layout from "@/layouts/Base.astro"
import Posts from "@/layouts/Posts.astro"

import { getCollection } from "astro:content"

export async function getStaticPaths({ paginate }) {
	const allPosts = await getCollection("news")
	const formattedPosts = allPosts.sort(
		(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
	)
	return paginate(formattedPosts, {
		pageSize: 6,
	});
}
const { page } = Astro.props
---

<Layout
	description="Últimas noticias en la Web Oficial del programa Alineación Indebida."
	title="Últimas noticias - Alineación indebida"
>
	<h1 class="mb-8 text-2xl font-bold md:text-3xl">Noticias</h1>
	<Posts posts={page.data}/>
</Layout>
