---

---

<a href="https://open.spotify.com/show/2T8ypOXEhivOjh3Kzsc9fA" target="_blank">
    <article class="mt-1 mb-8 p-4 flex w-full flex-col items-center border-solid rounded-xl border-4 border-spotify hover:text-spotify text-white">
        <h2 class="text-3xl font-semibold leading-9 text-center">
            ¡Ya estamos en Spotify!
        </h2>
        <div class="text-lg mt-2 text-center">
            Siguenos y escucha todos los programas cuando y donde quieras
        </div>
    </article>
</a>
