---
import Typography from "./Typography.astro"

interface Links {
	url: string
	name: string
	space?: boolean
}
const LINKS: Links[] = [
	{
		url: "/news",
		name: "NOTICIAS",
	},
	{
		url: "/cronicas",
		name: "CRÓNICAS",
	},
	{
		url: "/",
		name: "HOME",
//		space: true,
	},
	{
		url: "/video",
		name: "VÍDEOS",
	},
	{
		url: "/quiensomos",
		name: "QUIÉN SOMOS",
	},
]
---

<nav>
	<ul class="flex items-center justify-center gap-x-7">
		{
			LINKS.map(({ url, name, space }) => (
				<li class="flex items-center">
					{space ? (
						<div class="w-40 px-8 py-4" />
					) : (
						<Typography
							class:list={"from-neutral-700 px-8 py-4 hover:bg-gradient-to-b"}
							color="white"
							variant="body"
							as="a"
							href={url}
						>
							{name}
						</Typography>
					)}
				</li>
			))
		}
	</ul>
	<!--  
		<div class="-mt-44 flex items-center justify-center">
			<hr class="h-[2px] border-t-0 bg-transparent bg-gradient-to-l from-white sm:w-full" />
			<HeroLogo width="350" height="350" />
			<hr class="h-[2px] border-t-0 bg-transparent bg-gradient-to-r from-white sm:w-full" />
		</div>
	-->
</nav>