---
import LiteYouTube from "@/components/LiteYouTube.astro"

const { videos } = Astro.props

interface VideoType {
	id: string
	slug: string
	title: string
}

---

<div class="mt-12 grid select-none grid-cols-1 gap-8 md:grid-cols-3">
	{
		videos?.slice(0, 9).map((video: VideoType) => (
			<article class="flex w-full flex-col items-start">
				<LiteYouTube videoId={video.slug} backgroundImage={`https://i.ytimg.com/vi/${video.slug}/hqdefault.jpg`} />
				<div class="relative">
					<h2 class="mt-3 text-xl font-semibold leading-6 hover:text-accent text-white">
						<a href={`/videos/${video.slug}/`}>
							{video.title}
						</a>
					</h2>
				</div>
			</article>
		))
	}
</div>
