---
import Typography from "@/components/Typography.astro"
import LogoAI from "@/components/LogoAI.astro"

import XIcon from "@/icons/X.astro"
import TwitchIcon from "@/icons/twitch.astro"
import SpotifyIcon from "@/icons/Spotify.astro"
import InstagramIcon from "@/icons/instagram.astro"

const pagesFooter = [
	{ name: "Contacto", href: "/contacto" },
	{ name: "Política de privacidad", href: "/politica-privacidad" },
]
---

<footer class="mt-20 w-full pb-10 pt-6 text-neutral-400 company-link md:pt-8 lg:px-10 lg:pt-12 ">
	<div class="max-w-6xl flex flex-col place-items-center m-auto md:justify-between">
		<a href="/">
			<LogoAI class="h-auto w-full max-h-32" id="program-logo-header" noEffect />
		</a>

		<nav>
			<ul class="flex flex-row items-center gap-x-6 pt-4" aria-label="redes sociales y botón para alternar tema">
				<li>
					<a
						target="_blank"
						rel="noopener"
						aria-label="Twitch de alineacion indebida, se abrirá en una nueva pestaña"
						href="https://twitch.com/alineacionindebida"
						class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition"
					>
						<TwitchIcon class="text-primary transition-colors duration-300 hover:text-accent" />
					</a>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener"
						aria-label="Instagram de alineacion indebida, se abrirá en una nueva pestaña"
						href="https://www.instagram.com/a_indebida12"
						class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition"
					>
						<InstagramIcon class="text-primary transition-colors duration-300 hover:text-accent" />
					</a>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener"
						aria-label="X de alineacion indebida, se abrirá en una nueva pestaña"
						href="https://x.com/a_indebida12"
						class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition"
					>
						<XIcon class="text-primary transition-colors duration-300 hover:text-accent" />
					</a>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener"
						aria-label="Spotify de alineacion indebida, se abrirá en una nueva pestaña"
						href="https://open.spotify.com/show/2T8ypOXEhivOjh3Kzsc9fA"
						class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition"
					>
						<SpotifyIcon class="text-primary transition-colors duration-300 hover:text-accent" />
					</a>
				</li>
			</ul>
		</nav>

		<span aria-hidden="true" class="my-4 w-full border-t-2 border-neutral-600 "></span>

		<div class="flex md:flex-row flex-col place-items-center pt-2">
			{
				pagesFooter.map(({ name, href }, key) => (
					<>
					{key !== 0 && <span aria-hidden="true" class="hidden md:inline"> | </span>}
					<a
						href={href}
						class="nav-item relative h-full flex select-none flex-col items-center justify-center gap-1 px-4 text-xl hover:text-accent"
						id={`nav-link-${key}`}
					>
						<span class="z-10">{name}</span>

						<div class="background absolute -z-10 h-full w-full" />
					</a>
				</>
			))
		}
		</div>

		<Typography as="span" variant="bodybold" color="neutral" class="py-2 text-center">
			&copy; {new Date().getFullYear()} Alineación indebida
		</Typography>
	</div>
</footer>

<style>
	.company-link {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
		transition: all 0.5s ease;
	}
</style>
