---
import HomeNews from "@/components/HomeNews.astro"
import Patrocinadores from "@/sections/Patrocinadores.astro"
---

<section class="overflow-x-hidden">
	<div class="relative">
		<div class="flex flex-col items-center">
			<h1 class="mb-4 mt-6 text-center text-5xl font-bold">
				<span class="text-gradient">Alineación indebida</span>
			</h1>
			<h2 class="mb-4 text-center text-2xl font-bold">Pasión por el deporte</h2>
		</div>
	</div>
	<HomeNews />
	<Patrocinadores />
</section>
<style>
	.text-gradient {
		background-image: var(--color-accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	strong {
		color: var(--color-accent-light);
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
