---

---

<section class="overflow-x-hidden">
	<div class="relative">
		<div class="flex flex-col items-center">
			<h1 class="mb-4 mt-6 text-center text-5xl font-bold">
				<span class="text-gradient">Alineación indebida</span>
			</h1>
			<h2 class="mb-4 text-center text-2xl font-bold">Pasión por el deporte</h2>
		</div>
	</div>
	<div class="mt-4 text-justify">
		<p>
			Somos un grupo de personas que ha trabajado en diferentes medios de comunicacion por toda España y que participa activamente en el panorama
			deportivo, programas, espacios, eventos, retrasmisiones... Trabajamos para el deporte y por el deporte, nos apasiona y nos encanta estar al lado
			de los nuestros.
		</p>
		<br />
		<p>Nos gusta todo el deporte de Salamanca y provincia, vibramos con él.</p>
		<br />
		<p>
			Informar, debatir, comunicar, restrasmitir todo lo que sucede en nuestra Salamanca. Estar al lado de los nuestros y llevar a todos los rincones
			del planeta lo que sucede en Salamanca en el plano deportivo.
		</p>
		<br />
		<p>Somos la familia de Alineacion Indebida. Tu familia deportiva de Salamanca.</p>
	</div>
</section>

<style>
	.text-gradient {
		background-image: var(--color-accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border:
			1px solid var(--color-accent-light),
			25%;
		background: linear-gradient(var(--color-accent-dark), 66%), var(--color-accent-dark), 33%;
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions strong {
		color: var(--color-accent-light);
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
