---
import Typography from "@/components/Typography.astro"
import { Equipo } from "@/data/datos"
---

<section class="mt-16 px-4">
	<Typography as="h3" variant="h3" color="white" class="text-center"> Nuestro equipo maravilloso </Typography>
	<div class="mt-4 grid select-none grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-4 ">
		{
			Equipo.map(({ nombre, puesto, img }) => (
				<div class="card group relative inline-block aspect-square h-auto w-full transform-gpu overflow-hidden hover:scale-105">
					<div class="relative z-20 flex h-full flex-col items-center justify-end gap-2 ">
						<div>
							<Typography as="h5" variant="h5" color="white">
								{nombre}
							</Typography>
						</div>
						<div>
							<Typography as="p" variant="sm" color="white">
								{puesto}
							</Typography>
						</div>
					</div>
					<img
						decoding="async"
						loading="lazy"
						class="absolute bottom-0 inset-x-0 z-10 mx-auto h-full w-auto p-2 group-hover:scale-105"
						src={img}
						alt={nombre}
						style="mask-image: linear-gradient(black 70%, transparent 100%);"
					/>

				</div>
			))
		}
	</div>
</section>

<style>
	.card {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
		transition: all 0.5s ease;
	}

	.card::before {
		content: "";
		position: absolute;
		inset: 0;
		display: block;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, transparent);
		opacity: 0;
		height: 50%;
		transition:
			opacity 0.2s ease-in-out,
			height 0.2s ease-in-out;
	}

	@media (prefers-reduced-motion) {
		.card::before {
			transition: none;
		}
	}

	.card:hover::before,
	.card:focus::before {
		opacity: 0.8;
		height: 90%;
		box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.75);
	}

	.card:hover .company-logo,
	.card:focus .company-logo {
		transform: scale(1.1);
	}

	@media (prefers-reduced-motion) {
		.card:hover .company-logo,
		.card:focus .company-logo {
			transform: scale(1);
		}
	}

</style>
