---
import LiteYouTube from "@/components/LiteYouTube.astro";

const { videos } = Astro.props

type VideoType = {
	id: string
	slug: string
	image: string
	title: string
}
---

<div class="mt-12 grid select-none grid-cols-1 gap-8 md:grid-cols-3">
	{
		videos?.slice(0, 9).map((video: VideoType) => (
			<article class="flex w-full flex-col items-start">
				<LiteYouTube videoId={video.slug} backgroundImage={video.image} />
				<div class="relative">
					<h2 class="mt-3 text-xl font-semibold leading-6 text-zinc-900 group-hover:text-zinc-600 dark:text-white">
						<a href={`/videos/${video.slug}/`}>
							<span class="absolute inset-0" />
							{video.title}
						</a>
					</h2>
				</div>
			</article>
		))
	}
</div>
